.border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.content-box() {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.border-radius(@rad) {
  -webkit-border-radius: @rad;
          border-radius: @rad;
}

.box-shadow(@shadowArg) {
  -webkit-box-shadow: @shadowArg;
          box-shadow: @shadowArg;
}

.flex-box() {
  display: -webkit-box; // OLD - iOS 6-, Safari 3.1-6
  display: -moz-box; // OLD - Firefox 19- (buggy but mostly works)
  display: -ms-flexbox; // TWEENER - IE 10
  display: -webkit-flex; // NEW - Chrome
  display: flex; // NEW, Spec - Opera 12.1, Firefox 20+
}

.flex-num(@flex-num) {
  -webkit-box-flex: @flex-num; // OLD - iOS6-, Safari 3.1-6
     -moz-box-flex: @flex-num; // OLD - Firefox 19-
      -webkit-flex: @flex-num; // Chrome
          -ms-flex: @flex-num; // IE 10
              flex: @flex-num; // NEW, Spec - Opera 12.1, Firefox 20+
}

.flex-flow(@direction, @wrap) {
  -webkit-flex-flow: @direction @wrap;
          flex-flow: @direction @wrap;
}

/* To use multiple transitions enter them like this: .transition(~"background 0.3s ease, color 0.3s ease"); */
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.transform(@string){
  -webkit-transform: @string;
     -moz-transform: @string;
      -ms-transform: @string;
       -o-transform: @string;
          transform: @string;
}

.transform-origin(@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
     -moz-transform-origin: @x @y;
      -ms-transform-origin: @x @y;
       -o-transform-origin: @x @y;
          transform-origin: @x @y;
}
