
// Main
*::selection {
  background-color: black;
  color: white;
}

body {
  /*background-color: fade(@footerBgColor, 100%);*/
  background-color: #fff; /* Remove when added to tweak.less */
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
  margin: 1.5em auto 0.3em;
  
  &:first-child {
    margin-top: 0;
  }
}

h1:not(.site-title):not(.entry-title),
h2,
h3 {
  margin: 1.5em auto 0.3em;
  &:first-child { margin-top: 0; }
}

.site-wrapper {
  position: relative;
  padding: 0 8%;
  .border-box();
}

a {
  outline: none;
  text-decoration: none;

  &:visited,
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

// Collection Thumbnails
.banner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 99;
}
.banner-thumbnail-wrapper {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
}
