
// Main
*::selection {
  background-color: black;
  color: white;
}

body {
  /*background-color: fade(@footerBgColor, 100%);*/
  background-color: #fff; /* Remove when added to tweak.less */
}

.site-wrapper {
  position: relative;
  padding: 0;
  .border-box();
}

a {
  outline: none;
  text-decoration: none;

  &:visited,
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
